<table class="striped">
  <thead>
    <tr>
      <th>GOAL</th>
      <th>SKILLS NEEDED</th>
      <th>HOURS DEDICATED</th>
      <th>STATUS</th>
    </tr>    
  </thead>

  <tbody>
    <tr>
      <td>Become a SRE</td>
      <td>
          <ul>
            <li>Kuberneties</li>
            <li>Bash</li>
            <li>Python</li>
          </ul>
      </td>
      <td>0</td>
      <td>  
        <i class="small material-icons">ac_unit</i>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>
          <i class="small material-icons">sentiment_very_satisfied
            </i>
      </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <i class="small material-icons">whatshot</i>
        </td>
      </tr>
  </tbody>
</table>