<div class="container">
  <!-- current date -->
  <app-navigate></app-navigate>
  <div class="row">
  
    <div class="col s6 m6 l6">
      <table class="striped">
        <thead>
          <tr>
            <th>TIME</th>
            <th>ACTIVITY</th>
            <th>STATUS</th>
          </tr>    
        </thead>

        <tbody>
          <tr *ngFor="let hour of hours">
            <td>{{hour}}</td>
            <td>activity</td>
            <td>done</td>
          </tr>
        </tbody>
      </table>
    </div> 

    <div class="col s6 m6 l6">
        <table class="striped">
          <thead>
            <tr>
              <th>GOAL</th>
              <th>SKILLS NEEDED</th>
              <th>HOURS DEDICATED</th>
              <th>STATUS</th>
            </tr>    
          </thead>
  
          <tbody>
            <tr>
              <td>Become a SRE</td>
              <td>
                  <ul>
                    <li>Kuberneties</li>
                    <li>Bash</li>
                    <li>Python</li>
                  </ul>
              </td>
              <td>0</td>
              <td>  
                <i class="small material-icons">ac_unit</i>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>
                  <i class="small material-icons">sentiment_very_satisfied
                    </i>
              </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <i class="small material-icons">whatshot</i>
                </td>
              </tr>
          </tbody>
        </table>
      </div>    
  </div>


  <!-- time -->
  <!-- <div class="row "> -->

    <!-- <div class="col s1 m1 l1 time-slot">TIME</div>
    <div *ngFor="let hour of hours"><br>{{hour}}<br></div>
    <div class="col s4 m4 l4 activity">ACTIVITY</div>
    <div class="col s1 m1 l1 status">STATUS</div>
    <div class="col s2 m2 l2 offset-s1 offset-m1 offset-l1 goals">GOALS</div>
    <div class="col s2 m2 l2 skills-needed">SKILLS NEEDED</div>
    <div class="col s1 m1 l1 goal-status">STATUS</div> -->

  <!-- </div> -->

</div>