.time-slot{
    border: 1px solid black;
}
.activity{
    border: 1px solid black;
}
.status{
    border: 1px solid black;
}
.goals{
    border: 1px solid black;
}
.skills-needed{
    border: 1px solid black;
}
.goal-status{
    border: 1px solid black;
}