<table class="striped">
  <thead>
    <tr>
      <th><button data-target="modal" class="btn-flat modal-trigger"><i class='material-icons'>add_circle_outline</i></button>
        TIME</th>
      <th>ACTIVITY</th>
      <th>STATUS</th>
    </tr>    
  </thead>

  <tbody>
    <tr *ngFor="let activity of activities">
      <td>{{activity.time}}</td>
      <td>{{activity.description}}</td>
      <td>{{activity.repeat}}</td>
    </tr>
  </tbody>
</table> 

<div id="modal" class="modal">
  <div class="modal-content">
    <app-activity-form></app-activity-form>
  </div>
</div>